# ===== Java / Spring Boot =====
HELP.md
target/
build/
.mvn/wrapper/maven-wrapper.jar

!**/src/main/**/target/
!**/src/test/**/target/

# ===== Secrets (VERY IMPORTANT) =====
backend/src/main/resources/application-secret.properties

# ===== IntelliJ IDEA =====
.idea/
*.iml
*.iws
*.ipr
*.class

# ===== STS / Eclipse =====
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ===== NetBeans =====
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ===== VS Code =====
.vscode/